@model AnimalsViewer.Models.CAnimal
@{
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}
@using (Html.BeginForm("Update", "Animals", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Animal</legend>
        @Html.HiddenFor(model => model.Id)
        <div>
            @Html.LabelFor(model => model.Name)
        </div>
        <div>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div>
            @Html.LabelFor(model => model.AnimalType)
        </div>
        <div>
            @Html.DropDownListFor(model => model.AnimalType, Model.AnimalTypes)
            @Html.ValidationMessageFor(model => model.AnimalType)
        </div>

        <div>
            @Html.LabelFor(model => model.SkinColor)
        </div>
        <div>
            @Html.DropDownListFor(model => model.SkinColor, Model.SkinColors)
            @Html.ValidationMessageFor(model => model.SkinColor)
        </div>
        
        <div>
            @Html.LabelFor(model => model.Location)
        </div>
        <div>
            @Html.DropDownListFor(model => model.Location, Model.Locations)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <p>
            <input type="submit" value="Update" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}