@model AnimalsViewer.Models.SearchModel

@{
    ViewBag.Title = "Find animal";
}

<h2>Find</h2>

<script type="text/javascript">
    
    $(document).ready(function () {
        $('#btnFind').click(function () {
            
            /*var optionsSearch = {
                "Fio": $('#fio').val(),
                "Post": $('#post').val(),
                "Dep": $('#dep').val(),
                "ButtonType": $('#btnFind').val()
            };*/

            $.ajax({
                url: "Animals/FoundAnimals",
                type: "POST",
                data: model,
                success: function (returnArgs) {
                    $("#foundAnimals").html(returnArgs);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    });
   
</script>

@using (Html.BeginForm("FoundAnimals","Animals", FormMethod.Post))
{
    <div>
        <div>
            @Html.LabelFor(model => model.AnimalType)
        </div>
        <div>
            @Html.DropDownListFor(model => model.AnimalType, Model.AnimalTypes)
            @Html.ValidationMessageFor(model => model.AnimalType)
        </div>

        <div>
            @Html.LabelFor(model => model.SkinColor)
        </div>
        <div>
            @Html.DropDownListFor(model => model.SkinColor, Model.SkinColors)
            @Html.ValidationMessageFor(model => model.SkinColor)
        </div>
        <div>
            @Html.LabelFor(model => model.Regions)
        </div>
        <div>

            @foreach (var region in Model.Regions)
            {
                @Html.CheckBox(region.Name, false)
                @region.Name
            }

        </div>
            
        <p>
            <input type="Button" value="Find"  id="btnFind" />
        </p>
    </div>
    
    <div id="foundAnimals">

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
