@model IEnumerable<AnimalsViewer.Models.CAnimal>

<table>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkinColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{var editId = "edit_" + item.Id;}
            <a href="#" id='@editId'>Edit</a>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkinColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
    </tr>
}

</table>

<script src="Scripts/jquery-1.8.2.min.js"></script>
<script>
    $(document).ready(function () {
        $('a[id^="edit_"]').click(function (event) {
            var elementId = this.id;
            var animalId = elementId.substring("edit_".length);
            event.preventDefault();

            $.ajax({
                url: "Animals/Edit",
                type: "POST",
                data: { id: animalId },
                success: function (returnArgs) {
                    $("#animal").html(returnArgs);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $('#overlay').fadeIn(400,
                function () {
                    $('#modal_form')
                        .css('display', 'block') 
                        .animate({ opacity: 1, top: '50%' }, 200);
                });
        });
        
        $('#modal_close, #overlay').click(function () { 
            $('#modal_form')
                .animate({ opacity: 0, top: '45%' }, 200,
                    function () { 
                        $(this).css('display', 'none'); 
                        $('#overlay').fadeOut(400); 
                    }
                );
        });
    });
</script>